
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}


#fridge-display {
  width: 800px;
  height: 600px;
  background-color: #444;
  border-radius: 15px;
  margin: 20px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#clock {
  font-size: 24px;
  cursor: pointer;
}

#on-button, #off-button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

#on-button {
  background-color: green;
}

#off-button {
  background-color: red;
}


#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
}


.module {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.3s;
}

.module h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.module p {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}


.hidden {
  display: none;
}


button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #666;
  color: white;
}

button:hover {
  background-color: #888;
}

/* Footer Navigation */
#footer {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#footer button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #555;
  color: white;
  transition: background-color 0.3s;
}

#footer button:hover {
  background-color: #777;
}

#shopping-items {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  text-align: left;
  font-size: 16px;
  color: #333;
}

#add-item {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 80%;
}

#play-music, #tv-on {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#play-music:hover, #tv-on:hover {
  background-color: #555;
}
